.contact-header{
    background-color: #131325;
    padding: 180px 250px;
}
.contact-heading{
    color: #fff;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 50px;
}
@media only screen and (min-width: 412px) and (max-width: 413px){
    .contact-header{
        padding: 80px 0;
    }
    .contact-heading{
        font-size: 30px;
    }
    .contact button{
        margin: 0 44px;
    }
}
@media only screen and (min-width: 414px) and (max-width: 539px){
    .contact-header{
        padding: 80px 0;
    }
    .contact-heading{
        font-size: 30px;
    }
    .contact button{
        margin: 0 44px;
    }
}
@media only screen and (min-width: 540px) and (max-width: 767px){
    .contact-header{
        padding: 80px 0;
    }
    .contact-heading{
        font-size: 30px;
    }
    .contact button{
        margin: 0 44px;
    }
}