.statNum{
    color: #FFFFFF;
    font-family: "DM Sans", Sans-serif;
    font-size: 46px;
    font-weight: 600;
}

.statDesc{
    color: #FFFFFFB3;
    font-family: "DM Sans", Sans-serif;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0px;
}