body{
  background-color:  #07071B;
  overflow-x: hidden;

}

/* .toP{
  background-image:url("images/topBg.png");
  background-size:cover;
  background-repeat:no-repeat;
} */

.featuresBg{
  background-image:url("images/featuresBg.png");
  background-size:cover;
  background-repeat:no-repeat;
}

.battleCollectionBG{
  background-image:url("images/battleCollectionBG.png");
  background-size:cover;
  background-repeat:no-repeat;
}

.regNow{
  background-image:url("images/regNowBG.png");
  background-size:cover;
  background-repeat:no-repeat;
  border-radius: 20px;
}

.joinNowCon{
  background-image:url("images/joinNow.png");
  background-size:cover;
  background-repeat:no-repeat;
  border-radius: 20px;
}